body {
    background-image:  url('../Images/TexturedBackground1.jpg');
    color:black;
}

.img-responsive{
    display: block;
    width: 100%;
    /*height: auto;*/
    height:auto;
}
.footer{
    clear: both;   
}
.address{
    direction:rtl;
    text-align:center;
    font-size:1.5em;
}
.spanSpace{
    height:20px;
    display:block;
    width:100%;
    
}

/*----------------MainMenu------------------------*/


